body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fefcff;
    color: #222;
  }
  
  .el-header {
    background: #e84545;
    color: white;
    padding: 50px;
    text-align: center;
  }
  
  .el-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .el-header p {
    font-size: 18px;
    opacity: 0.9;
  }
  
  .el-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 100px;
    flex-wrap: wrap;
  }
  
  .el-image img {
    width: 100px;
  }
  
  .el-description h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  .el-description ul {
    list-style-type: circle;
    padding-left: 20px;
  }
  
  .el-description li {
    font-size: 16px;
    margin-bottom: 10px;
  }